.header {
    padding: 15px;
    font-family: 'Lato';
    font-size: 16px;
    border-bottom: 1px solid #D6D6D6;
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;

        &-item {
            padding-right: 72px;
        }

        &-item:first-child {
            padding-left: 170px;
        }

        &-item:last-child {
            padding-right: 282px;
        }
    }

    &__form {
        a {
            padding: 0px 20px;
        }
    }

}
